.price-custom {
    font-size: 20px !important;
}
.itenerary-p-custom {
    border-left: 2px solid black;
    margin-left: 0.72em;
    margin-right: 5em;
    text-align: justify;
    padding-left: 1.5em;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}

#custCarousel .carousel-indicators {
    position: static;
    margin-top: 20px;
    width: 100% !important;
    margin-left: 0 !important;
}

#custCarousel .carousel-indicators > li {
    width: auto;
}

#custCarousel .carousel-indicators li img {
    display: block;
    opacity: 0.5;
    width: 150px;
}

#custCarousel .carousel-indicators li.active img {
    opacity: 1;
}

#custCarousel .carousel-indicators li:hover img {
    opacity: 0.75;
}

.carousel-item img {
    width: 100%;
}
.bg-super {
    background-color: #1cade2;
}
.bg-image-custom {
    background-image: url("https://c0.wallpaperflare.com/preview/886/169/73/roman-bridge-architecture-berat.jpg");
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-position: center !important;
    background-size: cover;
    height: 300px;
}
.main-helper-custom {
    margin-left: 0.5px !important;
}
.text-super {
    color: #1cade2;
}
.question-contact-custom {
    font-size: 50px !important;
}
.details-item {
    display: block !important;
}
.button-index-contact-custom {
    width: 200px !important;
    height: 60px;
    margin-top: 30px !important;
    font-size: 1.5rem !important;
    margin-left: calc(50% - 100px);
    margin-bottom: 10px !important;
}
.bg-jumbotron-custom {
    background: url("https://fsb.zobj.net/crop.php?r=9q2pO7sWqoTXI_Yy4ERpCblelYBY5EOWvmq8NOXy0WqJkdt8StF_mp4f7PuaRPwyyG2GCiP8KLIpu4XuvVfar8zB2dC2YSRYcT1Ss0JnUzKfKuS8hQiNfs6N-dvP5aHrwTwY4xvP3fMftZUb");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 350px;
}
.star-icons-custom {
    font-size: 17px !important;
}

.item-title-custom {
    font-size: 17px;
}
.cat-custom {
    font-size: 10px;
}
.bg-cat-custom {
    background-color: lightgray;
}
.save-icon-custom {
    position: absolute;
    z-index: 100;
    color: white;
    right: 10px;
    top: 6px;
}
.profile-icon-custom {
    font-size: 2rem !important;
}

a {
    list-style: unset;

    text-decoration: none !important;
    color: unset !important;
}
.text-black {
    color: #000000;
}
.bg-black {
    color: #000000;
}
.owl-stage-outer {
    padding-top: 50px !important;
}
html {
    overflow-x: hidden;
}
body {
    background-color: #ebeaef !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-position: center !important;
    background-size: cover;
    overflow-x: hidden;
}

.owl-item:hover {
    transform-origin: center;
    transform: scale(1.2) !important;
    margin-right: 2em !important;
    margin-left: 2em !important;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.owl-item {
    margin: 0 0.2em !important;
}

.owl-carousel .owl-stage-outer {
    padding: 2.5% 0;
}

.owl-item img {
    transition: 0.01s;
}
.item {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.img-carousel {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.your-slideshow-container-class {
    position: relative;
}

.owl-prev,
.owl-next {
    position: absolute;
    width: 65px;
    color: white !important;
    font-size: 4em !important;
    background: rgb(0, 0, 0) !important;
    background: radial-gradient(
        circle,
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0.3) 30%,
        rgba(0, 0, 0, 0) 70%,
        rgba(0, 0, 0, 0) 100%
    ) !important;
}

.owl-prev {
    top: calc(50% - 65px);
    left: 0;
}

.owl-next {
    top: calc(50% - 65px);
    right: 0;
}
.footer-logo {
    color: white;
    font-family: Poppins;
    font-size: 1.35em;
    font-weight: bold;
}
.blue {
    color: #1cade2;
}

ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
    height: auto;
    width: 100vw;
    color: white;
    padding-right: 10px;
    font-size: 15px;
    background: #151414;
    margin-left: 15px;
}
.footer-cta {
    border-bottom: 1px solid #373636;
}
.single-cta i {
    color: #ff5e14;
    font-size: 30px;
    float: left;
    margin-top: 8px;
}
.cta-text {
    padding-left: 15px;
    display: inline-block;
}
.cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}
.cta-text span {
    color: #757575;
    font-size: 15px;
}
.footer-content {
    position: relative;
    z-index: 2;
}
.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}
.footer-logo {
    margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
}
.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
}
.footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
}
.footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}
.facebook-bg {
    background: #3b5998;
}
.twitter-bg {
    background: #55acee;
}

.footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
    margin-left: 0 !important;
}
.pay-meth i {
    color: white;
    font-size: 2.5em;
}
.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #1cade2;
}
.footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 4px;
    font-size: 1.2em;
}
.footer-widget ul li a:hover {
    color: #1cade2;
    text-decoration: none;
}
.footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
}
.subscribe-form {
    position: relative;
    overflow: hidden;
}
.subscribe-form input {
    width: 100%;
    padding: 21px 28px;
    background: #2e2e2e;
    border: 1px solid #2e2e2e;
    color: #fff;
    font-size: 1.2em;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    top: 0;
}
.subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
}
.copyright-area {
    width: 100vw;
    background: #202020;
    padding: 25px 0;
}
.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
}
.copyright-text p a {
    color: #1cade2;
}
.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}
.footer-menu li:hover a {
    color: #1cade2;
    text-decoration: none;
}
.footer-menu li a {
    font-size: 14px;
    color: #878787;
}
/*customized help*/
.customize-help {
    color: black;
    width: 100%;
    height: 400px;
    background-color: #1cade2;
    position: relative;
    clear: both;
    margin-bottom: 30px;
}
.customize-help-text {
    margin-top: 100px;
    text-align: center;
}
.customize-help-photo {
    background-image: url("https://c0.wallpaperflare.com/preview/886/169/73/roman-bridge-architecture-berat.jpg");
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-position: center !important;
    background-size: cover;
    height: 400px;
}
.customize-help button {
    background-color: white;
    font-size: 1.7em;
    border-color: black !important;
    color: #1cade2;
    font-weight: bold;
}
.customize-help button:hover {
    color: white;
    background-color: black;
}
.customize-help p {
    margin-top: 10px;

    font-size: 1.2em;
}
.customize-help p a {
    color: white;
}
/**/
.icon-bar {
    position: fixed;
    width: 60px;
    height: 60px;
    z-index: 100;
    top: calc(100vh - 80px);
    right: 30px;
    border-radius: 100%;
    color: white;
    -webkit-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.75);
}
.icon-bar:focus {
    background-color: #1cade2;
}
.icon-bar-display {
    display: none !important;
}

.icon-bar:hover {
    position: fixed;
    width: 60px;
    height: 60px;
    z-index: 100;
    top: calc(100vh - 80px);
    right: 30px;
    border-radius: 100%;
    color: white;
    -webkit-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.75);
}
.icon-bar:hover {
    background-color: #1cade2;
}
.icon-bar a {
    color: white;
    text-decoration: none;

    display: block;
    clear: both;
}
.icon-bar a i {
    font-size: 3.2em;
}
.icon-bar a:hover {
    text-decoration: none;
}
.facebook {
    background-color: #3b5998;
    width: 60px;
    height: 60px;
    margin-top: -140px;
    border-radius: 100%;
    display: none !important;
}
.instagram {
    background-color: purple;
    width: 60px;
    height: 60px;
    margin-top: -70px;
    border-radius: 100%;
    display: none !important;
}
.whatsapp {
    margin-left: 4px;
}
.whatsapp:hover {
    background-color: transparent !important;
}

@media only screen and (max-width: 768px) {
    .owl-prev {
        display: none;
    }
    .owl-next {
        width: 40px;
        font-size: 3em !important;
        top: calc(50% - 0.75em);
        background: rgb(0, 0, 0) !important;
        background: radial-gradient(
            circle,
            rgba(0, 0, 0, 0.9) 0%,
            rgba(0, 0, 0, 0.3) 10%,
            rgba(0, 0, 0, 0) 30%,
            rgba(0, 0, 0, 0) 50%
        ) !important;
    }

    .item-name {
        font-size: 1.5em;
        letter-spacing: 2px;
    }
    .owl-carousel-posts {
        width: 100vw !important;
        margin-left: -25px;
    }
    .owl-carousel-blog {
        width: 100vw !important;
        margin-bottom: 200px !important;
    }

    .hero-image {
        height: auto !important;
    }
    .banner-image {
        position: relative !important;
        width: 100% !important;
        margin-bottom: 20px !important;
    }
    .banner-image img {
        height: auto !important;
    }
    .banner-overlay {
        background: rgba(0, 0, 0, 0.35) !important;
    }
    .hero-text button {
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .hero-text {
        top: 100px;
        left: 50%;
        width: 100%;
        text-align: center;
    }
    .hero-text h1 {
        font-size: 3em;
    }
    .hero-text p {
        display: none;
    }
    .navbar-form {
        display: none;
    }
    h3 {
        margin-bottom: 0px !important;
        font-size: 20px !important;
    }
    .home-demo-posts {
        margin-top: -20px !important;
        z-index: -1;
    }

    .navbar-brand {
        font-size: 1.7em !important;
    }
    .navbar-nav {
        display: none;
    }
    .profile-desktop {
        display: none;
    }

    .container {
        margin-top: 50px;
        display: flex !important;
        justify-content: center;
        align-items: center;
    }

    .content {
        border: 1px solid #36383f;
        border-radius: 20px;
        width: 94%;
        height: 91%;
        background-color: #f5f6fa;
        overflow: hidden;
    }

    #menuToggle {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 20px;
        right: 25px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle input {
        display: flex;
        width: 40px;
        height: 32px;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
    }

    #menuToggle span {
        display: flex;
        width: 29px;
        height: 2px;
        margin-bottom: 5px;
        position: relative;
        background: #ffffff;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 5px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    }

    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-3px, -1px);
        background: #36383f;
    }
    #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    #menu {
        position: absolute;
        width: 40vw;
        height: auto;
        box-shadow: 0 0 10px #85888c;
        right: -20px !important;
        top: 40px;
        margin-right: 0 !important;
        background-color: #f5f6fa;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(150%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
        z-index: 100000;
    }

    #menu li {
        width: 100%;
        padding: 15px;
        padding-right: 20px;
        transition-delay: 2s;
        list-style: none;
        text-align: right;
    }
    #menu li:focus {
        background-color: lightgray;
    }
    #menu li a {
        color: black;
        font-size: 1.5em;
        text-decoration: none;
    }

    #menuToggle input:checked ~ ul {
        transform: none;
    }
    .details {
        display: none;
    }
    .important-info {
        display: none;
    }
    .details-mobile {
        display: block;
        margin-bottom: 10px;
    }
    .important-info-mobile {
        display: block;
        margin: 0 !important;
    }

    .contact-qa-mobile {
        display: block;
    }
    .contact-qa {
        display: none;
    }

    .left-pane-info {
        width: calc(100% + 80px) !important;
        margin-left: -40px;
    }
    .single-user-review {
        width: 100% !important;
    }
    .flight-hotel-help p:first-of-type {
        font-size: 1.3em;
    }

    .info-details-ct {
        width: 97% !important;
        margin: 0 auto;
        min-height: 200px;
        margin-top: 300px;
    }
    .purchase-details-ct {
        width: 97% !important;
        margin: 10px auto;
    }
    .ocz {
        z-index: -1 !important;
    }

    @-moz-document url-prefix() {
        .info-details-ct {
            min-height: unset !important;
            margin-top: unset !important;
        }
    }
    footer {
        margin-left: 1px;
    }
    .footer-widget-heading {
        margin-bottom: 20px;
        padding: 0;
        margin-left: 0;
    }
    .footer-content {
        margin-left: -20px;
    }
    .customize-help-text {
        padding: 10px;
    }
    .customize-help {
        height: 220px;
    }
    .customize-help-photo {
        display: none;
    }
    .pay-meth i {
        margin-top: 20px;
    }
}

.row-payment {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
}

.col-25 {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
}

.col-50 {
    -ms-flex: 50%;
    /* IE10 */
    flex: 50%;
}

.col-75 {
    -ms-flex: 75%;
    /* IE10 */
    flex: 75%;
}

.main-navbar {
    background-color: #1cade2;
    color: white;
}

@media only screen and (max-width: 768px) {
    .owl-prev {
        display: none;
    }
    .owl-next {
        width: 40px;
        font-size: 3em !important;
        top: calc(50% - 0.75em);
        background: rgb(0, 0, 0) !important;
        background: radial-gradient(
            circle,
            rgba(0, 0, 0, 0.9) 0%,
            rgba(0, 0, 0, 0.3) 10%,
            rgba(0, 0, 0, 0) 30%,
            rgba(0, 0, 0, 0) 50%
        ) !important;
    }
    .owl-item:hover {
        transform-origin: center;
        transform: unset !important;
        margin-right: unset !important;
        margin-left: unset !important;
        transition: 0.3s ease-in-out;
        cursor: pointer;
    }
    .question-contact-custom {
        font-size: 30px !important;
    }
    .item-title-custom {
        font-size: 14px;
    }
    .star-icons-custom {
        font-size: 13px;
    }
    .extra-info-custom {
        display: none;
    }
    .bg-image-custom {
        height: 150px;
    }
    footer {
        margin-left: 1px;
    }
    .footer-widget-heading {
        margin-bottom: 20px;
        padding: 0;
        margin-left: 0;
    }
    .footer-content {
        margin-left: 30px;
    }

    @-moz-document url-prefix() {
        .info-details-ct {
            min-height: unset !important;
            margin-top: unset !important;
        }
    }
}
