





h3 {
  margin: 5px 0;
  color: #CBB46E;
  font-size: 20px;
  font-weight: 100;
}


.block .block__item {
  -webkit-box-flex: 0;
          flex: 0 1 50%;
  font-style: italic;
}
.block .block__item .block__inner {
  padding: 2em 3em;
}
@media (max-width: 550px) {
  .block .block__item .block__inner {
    padding: 1em;
  }
}
@media (max-width: 950px) {
  .block .block__item {
    -webkit-box-flex: 0;
            flex: 0 1 100%;
  }
}
.block .block__description {
  line-height: 22px;
}
.block .block__description:first-letter {
  float: left;
  font-size: 55px;
  line-height: 40px;
  padding: 0 .25em;
}

.list {
  font-family: "Myriad Pro", sans-serif;
  font-style: normal;
  float: left;
  padding: 1.5em 0;
  margin-bottom: 3em;
  margin-left: 6em;
}
.list .list__item {
  float: left;
  width: 100%;
  display: -webkit-box;
  display: flex;
  
}

.list .list__item .list__desc {
  width: 60%;
  border-bottom: 1px solid #484C56;
  
  font-size: 15px;
  line-height: 22px;
  padding: 1em;
  position: relative;
}
.list .list__item .list__desc .border {
  background: #2A2B31;
  width: 3px;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8%;
}
.list .list__item .list__desc .border:after {
  content: "";
  background: #2A2B31;
  border: 5px solid #2A2B31;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  margin-top: -9px;
  left: -7px;
  width: 8px;
  height: 8px;
}
@media (max-width: 550px) {
  .list .list__item .list__desc .border {
    left: -5%;
  }
}
.list .list__item:last-of-type .list__desc {
  border-bottom: none;
}
.list .list__item:last-of-type .list__desc .border:before {
  content: "";
  background: #2A2B31;
  border-radius: 50%;
  height: 9px;
  width: 9px;
  position: absolute;
  bottom: -8px;
  left: -3px;
}
.list .list__item:first-of-type .list__desc {
  border-bottom: none;
}
.list .list__item:first-of-type .list__desc .border:before {
  content: "";
  background: #2A2B31;
  border-radius: 50%;
  height: 9px;
  width: 9px;
  position: absolute;
  top: -8px;
  left: -3px;
}